@import url('pc.css');
@import url('tablet.css');
@import url('phone.css');

html {
    margin: 0 auto;
    max-width: 1000px;
}
body, input, select, textarea, button {
    font-family: 'Bubbler One', sans-serif;
    border-radius: 0;
}
body {
    font-size: 15px;
    color: #444;
}
h4 {
    font-family: 'Exo', sans-serif;
}
input._input {
    padding: 3px 6px;
    border: solid 1px #DDD;
}
legend {
    font-size: 17px;
}
body[page="login"] nav a {
    display: none;
}
.active {
    color: green;
    font-weight: bold;
}
.caution, a:hover {
    color: indianred;
    text-decoration: none;
}
.float-left {
    float: left;
    margin: 0 10px 10px 0;
}
.float-right {
    float: right;
    margin: 0 0 10px 10px;
}
div.social-media img.icon {
    float: right;
    width: 32px;
    margin: 0 5px;
}
