@import url('pc.css');
@import url('tablet.css');
@import url('phone.css');

html {
    margin: 0 auto;
    max-width: 900px;
}
body, input, select, textarea, button {
    font-family: Muli, sans-serif;
    border-radius: 0;
}
input._input {
    padding: 3px 6px;
    border: solid 1px #DDD;
}
legend {
    font-size: 17px;
}
body[page="login"] nav a {
    display: none;
}
.active {
    color: lightgreen;
}
.caution, a:hover {
    color: indianred;
    text-decoration: none;
}
