@import url('pc.css');
@import url('tablet.css');
@import url('phone.css');

::selection {
    background: yellow;
}
html {
    margin: 0 auto;
    max-width: 1000px;
}
body, input, select, textarea, button {
    font-family: 'Bubbler One', sans-serif;
    border-radius: 0;
}
body {
    font-size: 16px;
    color: black;
    font-weight: 600;
}
h4 {
    font-family: 'Exo', sans-serif;
}
img {
    margin: 5px;
}
input._input {
    padding: 3px 6px;
    border: solid 1px #DDD;
}
legend {
    font-size: 17px;
}
body[page="login"] nav a {
    display: none;
}
.active {
    color: green;
    font-weight: bold;
}
.caution, a:hover {
    color: indianred;
    text-decoration: none;
}
.float-left {
    float: left;
    margin: 0 10px 10px 0;
}
.float-right {
    float: right;
    margin: 0 0 10px 10px;
}
div.social-media img.icon {
    float: right;
    width: 32px;
    margin: 0 5px;
}
header {
    background-image: url('/static/image/background.png');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}
a.link-button {
    background-color: #666;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 10%;
}
